binaries/
dependencies_data/
data/
runs/Archive/
runs/*/Output/
runs/*/Input/
runs/*/log/
runs/*/taiji_config.yml
runs/*/taiji_input.xlsx
runs/*/taiji_config_files.txt
seurat_single_cell_data/
log/
tmp/
__pycache__/
*.pyc
.DS_Store
backup_meta/
Taiji_ALTRA/
slurm-*.out
